$font-stack: 'Kavivanar', cursive;
$title-color: #073864;


.title{
  font: 100% $font-stack !important;
  font-size: 30px;
  color: $title-color !important;
}



//font-family: 'Kavivanar', cursive;
//font-family: 'Modern Antiqua', cursive;
